@use "../themes/colors" as c;
.redirection {
	position: absolute;
	right: 10px;
	a {
		text-decoration: none;
	}
	&__btn {
		background-color: c.$primary-green;
		color: c.$white;
		border-radius: 0.5rem;
		padding: 0.5rem;
		font-weight: bold;
		margin-inline: 0.5rem;
	}
	&__btn:hover {
		box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.3);
	}
}
