@use "../abstracts/mixins" as m;

.login {
	background-color: rebeccapurple;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__title {
		font-size: 1.5em;
		font-weight: bold;
	}
}

.form {
	@include m.align-column;

	&__inputs__container {
		@include m.align-column;
	}

	&__input {
		width: 12.5rem;
		border-radius: 0.3125rem;
		border-width: 0;
		margin-block: 0.3125rem;
		padding: 0.625rem;
	}

	&__subcontainer {
		@include m.align-column($direction: row, $justify: space-evenly);
		width: 60vw;
		margin-top: 0.625rem;
	}

	&__checkbox__container {
		@include m.align-column($direction: row);
	}

	&__checkbox {
		width: 1.25rem;
		border-radius: 50%;
	}

	&__checkbox__label {
		margin-left: 0.3125rem;
		font-size: 1em;
	}

	&__link {
		cursor: pointer;
		text-decoration: none;
		color: black;
	}

	&__buttons__container {
		@include m.align-column;

		&__button {
			@include m.align-column($direction: row);
			width: 50vw;
			margin-top: 0.625rem;
			margin-block: 0.3125rem;
			appearance: none;
			border-width: 0;
			background-color: white;
			border-radius: 0.625rem;
		}

		&__button__icon {
			width: 1.875rem;
		}
	}
}
