@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body * {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: black;
  color: white;
}

header h1 {
  font-size: 3.125rem;
  padding: 0.5rem;
}

header h1,
footer,
#second-section {
  text-align: center;
}

#first-section {
  display: flex;
  flex-direction: row;
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

.image-container {
  padding-right: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.text-container p {
  margin: 1rem;
}

#second-section,
#second-section *,
footer,
footer * {
  background-color: #1e1a13;
}

#second-section div {
  display: flex;
}

#second-section h2 {
  font-size: 2.5rem;
  padding-top: 4rem;
}

#second-section span {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem;
}

.icon-info {
  display: flex;
  flex-direction: column;
}

#third-section {
  display: flex;
  padding: 4rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

#third-section img,
header img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.img-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

a {
  text-decoration: none;
}

footer {
  padding: 3rem;
}

footer span {
  font-size: 1.25rem;
}
