body {
  font-family: "Raleway", sans-serif !important;
}

nav {
  background-color: #373a3c;
}

.nav-item {
  font-size: 1.25rem;
}

#hero-section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
